body {
	line-height: 1.6em;
	font-style: Helvetica, sans-serif;
}

nav {
	width: 100%;
}

.navbar {
	background-color: #168CB9;
	height: 3.0625em;
	width: 100%;

}

.wordpress-img {
	height: 2.125em;
	width: 2.125em;
	float: left;
	margin-left: .8em;
	margin-top: .6em;
	background-image: url("../images/logo.png");
	background-size: contain;
	overflow: hidden;
	background-color: #1080B0;
}

.brand {
	float: left;
	width: 7.4375em;
	height: 2.0625em;
	text-align: center;
	line-height: 2.5em;
	color: white;
	margin-left: .7em;
	margin-top: .5em;
}

span {
	color: #98CEE4;
}

.login-btn {
	color: white;
	float: right;
	border: none;
	height: 100%;
	font-size: .8em;
	width: 5.6875em;
	background-color: #006999;
}

.hero {
	width: 100%;
	background-color: #344051;
	text-align: center;
	padding-bottom: 4em;
	background-image: url("../images/crowd.jpg");
	background-size: cover;
	box-sizing: border-box;
}

 h1 {
	width: 12.125em;
	margin: 0 auto;
	padding-top: 10em;
	color: white;
	line-height: 1.5em;
	font-weight: 500;
}


.title-text {
	width: 16.5em;
	margin: 0 auto;
	padding: 1em;
	color: white;
}

.btn1 {
	height: 3.575em;
	width: 14em;
	background-color: #1D87B7;
	margin-top: 1em;
	box-shadow: 0 0 0 .65em rgba(0,0,0,0.3);
	border: none;
}

.btn-text {
	color: white;
	text-decoration: none;
	font-size: 1.4em;
}

.down-arrow {
	height: 1.375em;
	width: 3.125em;
	margin: 0 auto 8em;
	margin-top: 13.3125em;
}

.fa-angle-down {
	color: white;
}

.attributes {
	width: 19.3125em;
	margin: 1.575em auto;
	overflow: hidden;
}

.table-img {
	height: 3.5625em;
	width: 3em;
	float: left;
	margin-top: .8em;
	margin-right: .4em;
	background-image: url("../images/tablet.png");
	background-size: contain;
	background-repeat: no-repeat;
}

.newspaper-img {
	height: 3.5625em;
	width: 3em;
	float: left;
	margin-top: .8em;
	margin-right: .55em;
	background-image: url("../images/newspaper.png");
	background-size: contain;
	background-repeat: no-repeat;
}

.paintbrush-img {
	height: 3.5625em;
	width: 3em;
	float: left;
	margin-top: .8em;
	margin-right: .5em;
	background-image: url("../images/paint-brush.png");
	background-size: contain;
	background-repeat: no-repeat;
}

.attribute-div-2 {
	color: #D5D6D7;
	float: left;
 	text-align: left;
 	font-size: .98em;
 	line-height: .8em;
 	font-weight: 400;
}

h3 {
	color: white;
}

.wordpress-info-1 {
	height: 10em;
	width: 100%;
	background-color: #E8F0F5;
	text-align: center;
	padding: 1em 1.5em;
	box-sizing: border-box;
}

h2 {
	font-weight: lighter;
	color: #314156;
}

.feature-section {
	width: 100%;
	background-color: #D1D3D7;
	padding: 1em 3.625em;
	box-sizing: border-box;
}

.features {
	width: 100%;
	background-color: white;
	margin: 1.9375em auto;
	padding-top: 1.3125em;
	margin-bottom: 1em;
}

.lightbulb-img {
	height: 3.875em;
	width: 3.875em;
	background-color: #C7D2D8;
	margin: 0 auto;
	background-image: url("../images/lightbulb.png");
	background-repeat: no-repeat;
	background-size: 2em;
	border-radius: 3em;
	background-position: 50%;
}

.cloud-img {
	height: 3.875em;
	width: 3.875em;
	background-color: #C7D2D8;
	margin: 0 auto;
	background-image: url("../images/cloud.png");
	background-repeat: no-repeat;
	background-size: 2em;
	border-radius: 3em;
	background-position: 50%;
}

.code-img {
	height: 3.875em;
	width: 3.875em;
	background-color: #C7D2D8;
	margin: 0 auto;
	background-image: url("../images/code.png");
	background-repeat: no-repeat;
	background-size: 2em;
	border-radius: 3em;
	background-position: 50%;
}

.comment-img {
	height: 3.875em;
	width: 3.875em;
	background-color: #C7D2D8;
	margin: 0 auto;
	background-image: url("../images/comments.png");
	background-repeat: no-repeat;
	background-size: 2em;
	border-radius: 3em;
	background-position: 50%;
}

.gift-img {
	height: 3.875em;
	width: 3.875em;
	background-color: #C7D2D8;
	margin: 0 auto;
	background-image: url("../images/gift.png");
	background-repeat: no-repeat;
	background-size: 2em;
	border-radius: 3em;
	background-position: 50%;
}

.globe-img {
	height: 3.875em;
	width: 3.875em;
	background-color: #C7D2D8;
	margin: 0 auto;
	background-image: url("../images/globe.png");
	background-repeat: no-repeat;
	background-size: 2em;
	border-radius: 3em;
	background-position: 50%;
}

.feature-text-1 {
	width: 25.4375em;
	background-color: white;
	margin: .75em auto;
	text-align: center;
	color: #426277;
	font-weight: bolder;
}

.feature-text-2 {
	width: 25.5em;
	background-color: white;
	margin: .75em auto;
	text-align: center;
	color: #426277;
	padding-bottom: 1.7em;
}

.wordpress-info-2 {
	background-color: #E8F0F5;
	padding-top: .5em;
	text-align: center;
	font-weight: lighter;
}

.wordpress-info-text {
	padding-bottom: 1.5em;
}

.btn2 {
	height: 2.5em;
	width: 8.7em;
	background-color: #1E8CBE;
	margin-bottom: 1.2em;
	border: none;
	color: white;
	font-size: 1.4em;
}

.footer {
	width: 100%;
	background-color: #000000;
	padding-top: 1.5em;
	padding-bottom: 1em;
	box-sizing: border-box;
}

.links-div-1 {
	height: 1.8em;
	/*width: 21.5em;*/
	margin: 0 auto;
	text-align: center;
}

.links-div-2 {
	/*width: 21.5em;*/
	margin: 0 auto;
	text-align: center;
	padding-bottom: 1em;
}

.links {
	color: white;
	font-size: .7em;
	text-decoration: none;
	margin-right: .8em;
}

.auto-img {
	height: 1.5625em;
	width: 8.2em;
	margin: .4em auto;
	background-image: url("../images/automattic.png");
	background-repeat: no-repeat;
	background-size: contain;
}

















