h5 {
	font-weight: lighter;

}

.navbar {
	background-color: #1080B0;
	height: 3.0625em;
}

.wordpress-img {
	height: 2.125em;
	width: 2.125em;
	background-color: white;
	float: left;
	margin-left: .8em;
	margin-top: .4em;
}

.brand {
	float: left;
	width: 7.4375em;
	height: 2.0625em;
	text-align: center;
	line-height: 2.4em;
	color: white;
	margin-left: .8em;
	margin-top: .4em;
}

span {
	color: #98CEE4;
}

.login-btn {
	color: white;
	float: right;
	border: none;
	height: 100%;
	font-size: .8em;
	width: 5.6875em;
	background-color: #006999;
	display: inline-block;
}

.hero {
	background-color: #344051;
	text-align: center;
	padding-bottom: 4em;

}

.h1-div {
	width: 25.125em;
	margin: 0 auto;
	padding-top: 10em;
	color: white;
	font-weight: lighter;
}

.p-div {
	width: 16.5em;
	margin: 0 auto;
	padding-top: .02em;
	color: white;
}

.btn1 {
	height: 4.575em;
	width: 14em;
	background-color: #1D87B7;
	border: .8em solid #212934;
	margin-top: .8em;
}

.down-arrow {
	height: 1.375em;
	width: 3.125em;
	background-color: white;
	margin: 0 auto 8em;
	margin-top: 13.3125em;
}

.attributes {
	height: 4.3em;
	width: 19.3125em;
	background-color: #344051;
	margin: 1.575em auto;
}

.attribute-div-1 {
	height: 3.5625em;
	width: 3em;
	background-color: white;
	float: left;
	margin-top: .9em;
	margin-right: .5em;
}

.attribute-div-2 {
	color: #D5D6D7;
	float: left;
 	text-align: left;
 	font-size: .98em;
 	line-height: .8em;
}

h3 {
	color: white;
}

.wordpress-info-1 {
	height: 10em;
	background-color: #E8F0F5;
	text-align: center;
	padding: 1em 1.5em;
}

h2 {
	font-weight: lighter;
	color: #314156;
}

.feature-section {
	background-color: #D1D3D7;
	padding: .1em 0.625em;
}

.features {
	width: 27.375em;
	background-color: white;
	margin: 1.9375em auto;
	padding-top: 1.3125em;
	margin-bottom: 1em;
}

.feature-img {
	height: 3.875em;
	width: 3.875em;
	background-color: #C7D2D8;
	margin: 0 auto;
}

.feature-text-1 {
	width: 25.4375em;
	background-color: white;
	margin: .75em auto;
	text-align: center;
	color: #426277;
	font-weight: bolder;
}

.feature-text-2 {
	width: 25.5em;
	background-color: white;
	margin: .75em auto;
	text-align: center;
	color: #426277;
	padding-bottom: 1.7em;
}

.wordpress-info-2 {
	background-color: #E8F0F5;
	padding-top: .5em;
	text-align: center;
	font-weight: lighter;
}

.wordpress-info-text {
	padding-bottom: 1.5em;
}

.btn2 {
	height: 2.5em;
	width: 8.7em;
	background-color: #1E8CBE;
	margin-bottom: 1.2em;
	border: none;
	color: white;
	font-size: 1.4em;
}

.footer {
	background-color: #000000;
	padding-top: 1.5em;
	padding-bottom: 1em;
}

.links-div-1 {
	height: 1.8em;
	width: 21.5em;
	margin: 0 auto;
	text-align: center;
}

.links-div-2 {
	width: 21.5em;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 1em;
}

.links {
	color: white;
	font-size: .7em;
	text-decoration: none;
	margin-right: .8em;
}

.img {
	height: 1.5625em;
	width: 8.2em;
	margin: .4em auto;
}

















